.main
 .main-header
  .main-header__content
   .main-header__content--group-name
    gruop name
   .main-header__content--group-member
    Member :
  =link_to "#", class: "main-header__btn" do
   .main-header__btn--edit
    Edit