.side_bar
 .header
  .header__name
   = current_user.name
  .header_icons
   =link_to "#", class: "header__btn" do
    = icon('fas', 'edit', class: "header__btn--icon")
    %span<>
   =link_to edit_user_path(current_user), class: "header__btn" do
    = icon('fas', 'cog', class: "header__btn--icon")
 .contents
  .contents__group
   .contents__group--name
    sample
   .contents__group--message
    Good bye work
  .contents__group
   .contents__group--name
    sample2
   .contents__group--message
    hello my house