.side_bar
 .header
  .header__name
   = current_user.name
  .header_icons
   =link_to new_group_path, class: "header__btn" do
    = icon('fas', 'edit', class: "header__btn--icon")
    %span<>
   =link_to edit_user_path(current_user), class: "header__btn" do
    = icon('fas', 'cog', class: "header__btn--icon")
 .contents
  -current_user.groups.each do |group|
  .contents__group
   = link_to '#' do
   .contents__group--name
    =group.name
   .contents__group--message
    メッセージはまだありません。