@import "font-awesome-sprockets";

.side_bar{
  width: 300px;
.header{
  height: 100px;
  background-color:#253141;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
 &__name{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
  }
 &__btn{
  &--icon{
      color: white;
    }
  }
}

.contents{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 20px 20px;
 &__group{
   margin-bottom: 40px;
 &--name{
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  &--message{
   margin-top:5px;
   font-size: 11px;
   font-weight: bold;
   color: #ffffff;
  }
 }
}
}
}

.main{
  float: left;
  width: calc(100vw - 320px);
 .main-header{
   border:solid 1px #eeeeee;
  justify-content: space-between;
  height: 100px;
  display: flex;
  padding: 0 40px;
  &__content{
   &--group-name{
    margin-top: 35px;
    font-size: 20px;
    color: #333333;
   }
   &--group-member{
     margin-top: 15px;
     font-size: 12px;
     color: #999999;
   }
}
  &__btn{
    text-decoration: none;
   &--edit{
    border: solid 1px lightskyblue;
    color: lightskyblue;
    line-height: 40px;
    margin-top: 28px;
    padding: 0 20px;
   }
  }
 }
 .main-message{
   background-color: #fafafa;
   padding: 46px 40px 0 40px;
   height: 100vw;
  &__user-name{
    display: flex;
    &--name{
      font-size: 16px;
      font-weight: bold;
      color: #434a54;
    }
    &--time{
      margin-left: 10px;
      font-size: 12px;
      color: #999999;
    }
  }
  &__message{
    margin-top: 10px;
    font-size: 14px;
    color: #434a54;
  }
}
}